body {

    display: flex;
    background-color: rgba(107, 107, 107, 0.644);
    justify-content: center;
    align-items: center;
    height: 100vh;

}


button{

    margin-top: 15px;
    font-size: 2rem;
    background-color: rgb(175, 121, 226);
    color: darkgrey;


}

form {
    background-color: rgba(226, 226, 226, 0.418);
    padding: 40px;
    border-radius: 25px;

}

form h1 {
    color: rgb(0, 85, 42);
}

form h5 {
color: rgb(0, 0, 0);
}
input{
    border-radius: 10px;
    padding: 1px;
}
label{
    padding: 1%;
}